<section class="shrink">
        <div class="grid grid-3col">
        <label class="resource-label">Dawn</label>
        <div class="grid-row-start-2">
            <input data-dtype="Boolean" name="system.abilitiesDawn.Archery.favored" type="checkbox" {{checked system.abilitiesDawn.Archery.favored}}>
            <label class="resource-label">Archery</label>
            <input type="text" name="system.abilitiesDawn.Archery.level" value="{{system.abilitiesDawn.Archery.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-row-start-3">
            <input data-dtype="Boolean" name="system.abilitiesDawn.MartialArts.favored" type="checkbox" {{checked system.abilitiesDawn.MartialArts.favored}}>
            <label class="resource-label">Martial Arts</label>
            <input type="text" name="system.abilitiesDawn.MartialArts.level" value="{{system.abilitiesDawn.MartialArts.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-row-start-4">
            <input data-dtype="Boolean" name="system.abilitiesDawn.Melee.favored" type="checkbox" {{checked system.abilitiesDawn.Melee.favored}}>
            <label class="resource-label">Melee</label>
            <input type="text" name="system.abilitiesDawn.Melee.level" value="{{system.abilitiesDawn.Melee.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-row-start-5">
            <input data-dtype="Boolean" name="system.abilitiesDawn.Thrown.favored" type="checkbox" {{checked system.abilitiesDawn.Thrown.favored}}>
            <label class="resource-label">Thrown</label>
            <input type="text" name="system.abilitiesDawn.Thrown.level" value="{{system.abilitiesDawn.Thrown.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-row-start-6">
            <input data-dtype="Boolean" name="system.abilitiesDawn.War.favored" type="checkbox" {{checked system.abilitiesDawn.War.favored}}>
            <label class="resource-label">War</label>
            <input type="text" name="system.abilitiesDawn.War.level" value="{{system.abilitiesDawn.War.level}}" data-dtype="Number"/>
        </div>


        <label class="resource-label grid-start-2">Zenith</label>
        <div class="grid-start-2 grid-row-start-2">
            <input data-dtype="Boolean" name="system.abilitiesZenith.Resistance.favored" type="checkbox" {{checked system.abilitiesZenith.Resistance.favored}}>
            <label class="resource-label">Resistance</label>
            <input type="text" name="system.abilitiesZenith.Resistance.level" value="{{system.abilitiesZenith.Resistance.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-2 grid-row-start-3">
            <input data-dtype="Boolean" name="system.abilitiesZenith.Integrity.favored" type="checkbox" {{checked system.abilitiesZenith.Integrity.favored}}>
            <label class="resource-label">Integrity</label>
            <input type="text" name="system.abilitiesZenith.Integrity.level" value="{{system.abilitiesZenith.Integrity.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-2 grid-row-start-4">
            <input data-dtype="Boolean" name="system.abilitiesZenith.Performance.favored" type="checkbox" {{checked system.abilitiesZenith.Performance.favored}}>
            <label class="resource-label">Performance</label>
            <input type="text" name="system.abilitiesZenith.Performance.level" value="{{system.abilitiesZenith.Performance.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-2 grid-row-start-5">
            <input data-dtype="Boolean" name="system.abilitiesZenith.Presence.favored" type="checkbox" {{checked system.abilitiesZenith.Presence.favored}}>
            <label class="resource-label">Presence</label>
            <input type="text" name="system.abilitiesZenith.Presence.level" value="{{system.abilitiesZenith.Presence.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-2 grid-row-start-6">
            <input data-dtype="Boolean" name="system.abilitiesZenith.Survival.favored" type="checkbox" {{checked system.abilitiesTwilight.Survival.favored}}>
            <label class="resource-label">Survival</label>
            <input type="text" name="system.abilitiesZenith.Survival.level" value="{{system.abilitiesZenith.Survival.level}}" data-dtype="Number"/>
        </div>

        <label class="resource-label grid-start-3">Twilight</label>
        <div class="grid-start-3 grid-row-start-2">
            <input data-dtype="Boolean" name="system.abilitiesTwilight.Craft.favored" type="checkbox" {{checked system.abilitiesTwilight.Craft.favored}}>
            <label class="resource-label">Craft</label>
            <input type="text" name="system.abilitiesTwilight.Craft.level" value="{{system.abilitiesTwilight.Craft.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-3 grid-row-start-3">
            <input data-dtype="Boolean" name="system.abilitiesTwilight.Investigation.favored" type="checkbox" {{checked system.abilitiesTwilight.Investigation.favored}}>
            <label class="resource-label">Investigation</label>
            <input type="text" name="system.abilitiesTwilight.Investigation.level" value="{{system.abilitiesTwilight.Investigation.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-3 grid-row-start-4">
            <input data-dtype="Boolean" name="system.abilitiesTwilight.Lore.favored" type="checkbox" {{checked system.abilitiesTwilight.Lore.favored}}>
            <label class="resource-label">Lore</label>
            <input type="text" name="system.abilitiesTwilight.Lore.level" value="{{system.abilitiesTwilight.Lore.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-3 grid-row-start-5">
            <input data-dtype="Boolean" name="system.abilitiesTwilight.Medicine.favored" type="checkbox" {{checked system.abilitiesTwilight.Medicine.favored}}>
            <label class="resource-label">Medicine</label>
            <input type="text" name="system.abilitiesTwilight.Medicine.level" value="{{system.abilitiesTwilight.Medicine.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-3 grid-row-start-6">
            <input data-dtype="Boolean" name="system.abilitiesTwilight.Occult.favored" type="checkbox" {{checked system.abilitiesTwilight.Occult.favored}}>
            <label class="resource-label">Occult</label>
            <input type="text" name="system.abilitiesTwilight.Occult.level" value="{{system.abilitiesTwilight.Occult.level}}" data-dtype="Number"/>
        </div>
    </div>  

    <div class="grid grid-2col">
        <label class="resource-label">Night</label>
        <div class="grid-row-start-2">
            <input data-dtype="Boolean" name="system.abilitiesNight.Athletics.favored" type="checkbox" {{checked system.abilitiesNight.Athletics.favored}}>
            <label class="resource-label">Athletics</label>
            <input type="text" name="system.abilitiesNight.Athletics.level" value="{{system.abilitiesNight.Athletics.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-row-start-3">
            <input data-dtype="Boolean" name="system.abilitiesNight.Awareness.favored" type="checkbox" {{checked system.abilitiesNight.Awareness.favored}}>
            <label class="resource-label">Awareness</label>
            <input type="text" name="system.abilitiesNight.Awareness.level" value="{{system.abilitiesNight.Awareness.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-row-start-4">
            <input data-dtype="Boolean" name="system.abilitiesNight.Dodge.favored" type="checkbox" {{checked system.abilitiesNight.Dodge.favored}}>
            <label class="resource-label">Dodge</label>
            <input type="text" name="system.abilitiesNight.Dodge.level" value="{{system.abilitiesNight.Dodge.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-row-start-5">
            <input data-dtype="Boolean" name="system.abilitiesNight.Larceny.favored" type="checkbox" {{checked system.abilitiesNight.Larceny.favored}}>
            <label class="resource-label">Larceny</label>
            <input type="text" name="system.abilitiesNight.Larceny.level" value="{{system.abilitiesNight.Larceny.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-row-start-6">
            <input data-dtype="Boolean" name="system.abilitiesNight.Stealth.favored" type="checkbox" {{checked system.abilitiesNight.Stealth.favored}}>
            <label class="resource-label">Stealth</label>
            <input type="text" name="system.abilitiesNight.Stealth.level" value="{{system.abilitiesNight.Stealth.level}}" data-dtype="Number"/>
        </div>


        <label class="resource-label grid-start-2">Eclipse</label>
        <div class="grid-start-2 grid-row-start-2">
            <input data-dtype="Boolean" name="system.abilitiesEclipse.Bureaucracy.favored" type="checkbox" {{checked system.abilitiesEclipse.Bureaucracy.favored}}>
            <label class="resource-label">Bureaucracy</label>
            <input type="text" name="system.abilitiesEclipse.Bureaucracy.level" value="{{system.abilitiesEclipse.Bureaucracy.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-2 grid-row-start-3">
            <input data-dtype="Boolean" name="system.abilitiesEclipse.Linguistics.favored" type="checkbox" {{checked system.abilitiesEclipse.Linguistics.favored}}>
            <label class="resource-label">Linguistics</label>
            <input type="text" name="system.abilitiesEclipse.Linguistics.level" value="{{system.abilitiesEclipse.Linguistics.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-2 grid-row-start-4">
            <input data-dtype="Boolean" name="system.abilitiesEclipse.Ride.favored" type="checkbox" {{checked system.abilitiesEclipse.Ride.favored}}>
            <label class="resource-label">Ride</label>
            <input type="text" name="system.abilitiesEclipse.Ride.level" value="{{system.abilitiesEclipse.Ride.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-2 grid-row-start-5">
            <input data-dtype="Boolean" name="system.abilitiesEclipse.Sail.favored" type="checkbox" {{checked system.abilitiesEclipse.Sail.favored}}>
            <label class="resource-label">Sail</label>
            <input type="text" name="system.abilitiesEclipse.Sail.level" value="{{system.abilitiesEclipse.Sail.level}}" data-dtype="Number"/>
        </div>
        <div class="grid-start-2 grid-row-start-6">
            <input data-dtype="Boolean" name="system.abilitiesEclipse.Socialize.favored" type="checkbox" {{checked system.abilitiesEclipse.Socialize.favored}}>
            <label class="resource-label">Socialize</label>
            <input type="text" name="system.abilitiesEclipse.Socialize.level" value="{{system.abilitiesEclipse.Socialize.level}}" data-dtype="Number"/>
        </div>
    </div> 
</section>